<div class="d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="sticky-top">
      <div class="p-2 overflow">
        <!-- <div class="mt-2 pl-4 pr-4">
          <div class="card border-0 cs-shadow">
            <a href="" class="btn btn-light"> Add </a>
          </div>
        </div> -->
        <ul class="mb-5 list-unstyled">
          <li>
            <a routerLinkActive="card cs-shadow border-0">
              <div>
                <span class="pl-3">Dashboard</span>
              </div>
            </a>
          </li>

          <li>
            <a routerLink="/d/floor" routerLinkActive="card cs-shadow border-0">
              <div>
                <span class="pl-3" routerLinkActive="ac">Floor</span>
              </div>
            </a>
          </li>

          <li>
            <a routerLink="/d/department" routerLinkActive="card cs-shadow border-0">
              <div>
                <span class="pl-3" routerLinkActive="ac">Department</span>
              </div>
            </a>
          </li>

          <li>
            <a routerLink="/d/room" routerLinkActive="card cs-shadow border-0">
              <div>
                <span class="pl-3" routerLinkActive="ac">Room</span>
              </div>
            </a>
          </li>
          <li>
            <a routerLink="/d/msg" routerLinkActive="card cs-shadow border-0">
              <div>
                <span class="pl-3" routerLinkActive="ac">Message</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="content">
    <ul class="nav justify-content-end p-1 pr-4 sticky-top">
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
    <div class="ml-4 mr-4 mt-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
