@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f7fa !important;
}

.cs-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.feedback span {
  color: #ff0000;
}
.rooms a{
  text-decoration: none;
  color: black
}
.rooms .card:hover{
  background-color: rgb(214, 214, 214);
}
