<div class="container">
  <div class="pt-4 pb-4">
    <div *ngIf="!submitted">
      <div class="card border-0 cs-shadow">
        <div class="card-body">
          <form [formGroup]="submitForm" (submit)="sendMessage()" onsubmit="myButton.disabled = true; return true;">
            <div class="row">
              <div class="mb-3"
                [ngClass]="{'col-md-6': !floorID,'col-md-4': floorID && !departmentID,'col-md-3': departmentID && floorID}">
                <div class="d-flex justify-content-between pb-2">
                  <strong><label>Choose The Floor</label></strong>
                  <small class="text-danger">Required</small>
                </div>
                <div class="list-group floor" id="list-tab" role="tablist">
                  <ng-container *ngFor="let item of floors;let key = index;">
                    <a class="list-group-item list-group-item-action " (click)="getFloorID(item._id)"
                      [ngClass]="floorID == item._id ? 'active' : ''" href="javascript:void(0)">
                      <div>
                        {{item.name}}
                      </div>
                    </a>
                  </ng-container>
                </div>
              </div>
              <ng-container *ngIf="floorID">
                <div class="mb-3"
                  [ngClass]="{'col-md-4': floorID && !departmentID,'col-md-3': departmentID && floorID}">
                  <div class="d-flex justify-content-between pb-2">
                    <strong><label>Choose The Department</label></strong>
                    <small class="text-muted">Optional</small>
                  </div>
                  <div class="list-group" id="list-tab" role="tablist">
                    <ng-container *ngFor="let item of departments;let key = index;">
                      <ng-container *ngIf="floorID == item.floor_id">
                        <a class="list-group-item list-group-item-action" (click)="getDepartmentID(item._id)"
                          [ngClass]="departmentID == item._id ? 'active' : ''" href="javascript:void(0)">
                          <div>
                            {{item.name}}
                          </div>
                        </a>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="departmentID">
                <div class="col-md-3 mb-3">
                  <div class="d-flex justify-content-between pb-2">
                    <strong><label>Choose The Room</label></strong>
                    <small class="text-muted">Optional</small>
                  </div>
                  <div class="list-group" id="list-tab" role="tablist">
                    <ng-container *ngFor="let item of rooms;let key = index;">
                      <ng-container *ngIf="departmentID == item.department_id">
                        <a class="list-group-item list-group-item-action" (click)="getRoomID(item._id)"
                          [ngClass]="roomID == item._id ? 'active' : ''" href="javascript:void(0)">
                          <div>
                            Room {{item.name}}
                          </div>
                        </a>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
              <div
                [ngClass]="{'col-md-6': !floorID,'col-md-4': floorID && !departmentID,'col-md-3': departmentID && floorID}">
                <div class="d-flex justify-content-between pb-2">
                  <strong><label>VFeedBack</label></strong>
                  <small class="text-danger">Required</small>
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="Title" formControlName="title" required>
                </div>
                <div class="mb-3">
                  <textarea name="" id="" rows="4" class="form-control" placeholder="Message" formControlName="message"
                    required></textarea>
                  <small class="text-muted">
                    Please feel free to send us your feedback or request about our
                    services so far, Make sure to include hopes, fears, expectation
                  </small>
                </div>
                <div class="mb-3">
                  <div class="pb-1">
                    <label class="form-check-label"> Situation </label>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-check form-check-inline">
                        <input formControlName="feedbackLevel" class="form-check-input" type="radio"
                          name="feedbackLevel" id="High" value="High" required />
                        <label class="form-check-label text-danger" for="High">Priority</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-check form-check-inline">
                        <input formControlName="feedbackLevel" class="form-check-input" type="radio"
                          name="feedbackLevel" id="Normal" value="Medium" required />
                        <label class="form-check-label text-primary" for="Normal">Normal</label>
                      </div>
                    </div>
                  </div>
                </div>
                <button name="myButton" type="submit" class="btn btn-primary col-12"
                  [disabled]="!submitForm.valid || !floorID">
                  Send
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <a routerLink="/room" class="btn btn-primary btn-sm mt-4">
        View All Room
      </a>
    </div>
  </div>


  <div *ngIf="submitted">
    <div class="card border-0 cs-shadow">
      <div class="card-body">
        <div class="p-4">
          <h2>VFeedBack</h2>
          <p class="pt-3 pb-2">Your response has been recorded</p>
          <a (click)="newMsg()" href="javascript:void(0)">
            Submit another response
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class=" pt-4 pb-4">
    <div *ngIf="!submitted">
      <div>
        <a routerLink="/room" class="btn btn-primary btn-sm mb-4">
          View All Room
        </a>
      </div>
      <div class="card border-0 cs-shadow rounded feedback">
        <div class="card-body">
          <div class="header">
            <h2 style="color: #0080ff">Website Feedback form</h2>
            <p>
              Please fill out this brief feedback form so we can ensure a tap
              qualify experience for all of our visitors.
            </p>
            <button class="btn btn-sm btn-dark mr-3" type="button" (click)="showDP()" *ngIf="!displayDP">
              + Department
            </button>
            <button class="btn btn-sm btn-danger mr-3" type="button" (click)="hideDP()" *ngIf="displayDP">
              - Department
            </button>
            <button class="btn btn-sm btn-dark mr-3" type="button" (click)="showRoom()" *ngIf="!displayRoom">
              + Room
            </button>
            <button class="btn btn-sm btn-danger" type="button" (click)="hideRoom()" *ngIf="displayRoom">
              - Room
            </button>
          </div>
          <hr>
          <form [formGroup]="submitForm" (submit)="sendMessage()" onsubmit="myButton.disabled = true; return true;">
            <div class="floor pt-3 pb-3">
              <h5 class="pb-2">
                <span>*</span> Floor you want to feedback
              </h5>
              <div class="row">
                <div class="col-md-4 pb-3" *ngFor="let item of floors">
                  <div class="form-check form-check-inline">
                    <input formControlName="floor_id" class="form-check-input" type="radio" name="floor_id"
                      id="{{ item.name }}" value="{{ item._id }}" (change)="setFloorID(item._id)" required />
                    <label class="form-check-label" for="{{ item.name }}">
                      {{ item.name }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="displayDP">
              <div class="department pt-3 pb-3" *ngIf="floorID">
                <h5 class="pb-2">
                  <span>*</span>
                  Department you want to feedback
                </h5>
                <div class="row" *ngFor="let item of departments">
                  <div class="col-md-4 pb-3" *ngIf="floorID == item.floor_id">
                    <div class="form-check form-check-inline">
                      <input formControlName="department_id" class="form-check-input" type="radio" name="department_id"
                        id="{{ item.name }}" value="{{ item._id }}" (change)="setDepartmentID(item._id)" />
                      <label class="form-check-label" for="{{ item.name }}">
                        {{ item.name }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="displayRoom">
              <div class="room pt-3 pb-3" *ngIf="departmentID">
                <h5 class="pb-2">
                  <span>*</span>
                  Room you want to feedback
                </h5>
                <div class="row" *ngFor="let item of rooms">
                  <div class="col-md-4 pb-3" *ngIf="departmentID == item.department_id">
                    <div class="form-check form-check-inline">
                      <input formControlName="room_id" class="form-check-input" type="radio" name="room_id"
                        id="{{ item.name }}" value="{{ item._id }}" (change)="getRoomID(item._id)" />
                      <label class="form-check-label" for="{{ item.name }}">
                        {{ item.name }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="title pt-3 pb-3">
              <h5 class="pb-2">
                <span>*</span>
                Title
              </h5>
              <div class="pb-3">
                <input formControlName="title" type="text" class="form-control form-control-lg shadow-sm"
                  placeholder="Title" name="title" required />
              </div>
            </div>
            <div class="feedback pt-3 pb-3">
              <h5 class="pb-2">
                <span>*</span>
                Message
              </h5>
              <div class="pb-3">
                <textarea formControlName="message" name="message" id="" rows="5" class="form-control form-control-lg"
                  placeholder="Message" required></textarea>
              </div>
              <p class="text-muted">
                Please feel free to send us your feedback or request about our
                services so far, Make sure to include hopes, fears, expectation
              </p>
            </div>
            <div class="situation pt-3 pb-3">
              <h5 class="pb-2">
                <span>*</span>
                Situation
              </h5>
              <div class="row">
                <div class="col-md-6 pb-3">
                  <div class="form-check form-check-inline">
                    <input formControlName="feedbackLevel" class="form-check-input" type="radio" name="feedbackLevel"
                      id="High" value="High" />
                    <label class="form-check-label" for="High"> High </label>
                  </div>
                </div>
                <div class="col-md-6 pb-3">
                  <div class="form-check form-check-inline">
                    <input formControlName="feedbackLevel" class="form-check-input" type="radio" name="feedbackLevel"
                      id="Normal" value="Medium" />
                    <label class="form-check-label" for="Normal">Normal </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="submit text-right pt-3">
              <button name="myButton" type="submit" class="btn btn-lg btn-primary col-12"
                [disabled]="!submitForm.valid">
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div *ngIf="submitted">
      <div class="card border-0 cs-shadow">
        <div class="card-body">
          <div class="p-4">
            <h2>VFeedBack</h2>
            <p class="pt-3 pb-2">Your response has been recorded</p>
            <a (click)="newMsg()" href="javascript:void(0)">
              Submit another response
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
